<div class="main-own">
    <div class="main-right-top">
        <button>+ Raise a Ticket</button>
    </div>
    <div class="main-own-left">
        <h2>Tickets</h2>
        <ng-container *ngFor="let conversation of conversationList; let i=index">
            <a (click)="onShowChat(conversation.conversationId, i);">
                <div class="user-container">
                    <ng-container *ngIf="currentRole === 'User'">
                        <div class="profile-pic">{{(conversation.vendorName)[0].toUpperCase()}}</div>
                        <div class="user-info">
                            <div class="user-name">{{conversation.vendorName}}</div>
                            <div class="last-message">{{conversation.vendorEmail}}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="currentRole === 'Vendor'">
                        <div class="profile-pic">{{(conversation.name)[0].toUpperCase()}}</div>
                        <div class="user-info">
                            <div class="user-name">{{conversation.name}}</div>
                            <div class="last-message">{{conversation.email}}</div>
                        </div>
                    </ng-container>

                    
                </div>
            </a>
        </ng-container>
    </div>
    <div class="main-own-right">
        <ng-container *ngIf="currentIdx === -1">
            <div class="flex">
                Click on a chat to start messaging.
            </div>

        </ng-container>
        <ng-container *ngIf="currentIdx !== -1">
            <div class="chat-header">
                <ng-container *ngIf="currentRole === 'User'">
                    <div class="profile-pic">{{(conversationList[currentIdx].vendorName)[0].toUpperCase()}}</div>
                    <div class="user-name">{{conversationList[currentIdx].vendorName}}</div>
                </ng-container>
                <ng-container *ngIf="currentRole === 'Vendor'">
                    <div class="profile-pic">{{(conversationList[currentIdx].name)[0].toUpperCase()}}</div>
                    <div class="user-name">{{conversationList[currentIdx].name}}</div>
                </ng-container>
            </div>
            <div class="chat">
                <ng-container *ngFor="let group of chatGroups">
                    <div class="date">{{ group.date }}</div>
                  
                    <ng-container *ngFor="let chat of group.chats">
                      <ng-container *ngIf="currentRole !== chat.fromRole">
                        <div class="from chat-bubble">
                          <div class="message" [innerHTML]="chat.message"></div>
                          <div class="time">{{ timeCreated(chat.timeStamp) }}</div>
                        </div>
                      </ng-container>
                  
                      <ng-container *ngIf="currentRole === chat.fromRole">
                        <div class="to chat-bubble">
                          <div class="message" [innerHTML]="chat.message"></div>
                          <div class="time">{{ timeCreated(chat.timeStamp) }}</div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  
            </div>
            <div class="input-div">
                <input type="text" [(ngModel)]="conversationList[currentIdx].message"/>
                <button (click)="sendMessage()">Send</button>
            </div>
        </ng-container>
    </div>


</div>

