<div class="main-own">
    <div class="main-own-left">
        <ng-container *ngFor="let a of [1,2,3]">
            <div class="user-container">
                <div class="profile-pic">G</div>
                <div class="user-info">
                    <div class="user-name">Giridharan</div>
                    <div class="last-message">This is message</div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="main-own-right">
        <div class="chat">
            <div class="from-outer">
                <span>
                    <svg viewBox="0 0 8 13" height="13" width="8" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 8 13" xml:space="preserve">
                        <path opacity="0.13" fill="#0000000" fill-opacity="0.5" d="M1.533,3.568L8,12.193V1H2.812 C1.042,1,0.474,2.156,1.533,3.568z"></path>
                        <path fill="#0000000" fill-opacity="0.5" d="M1.533,2.568L8,11.193V0L2.812,0C1.042,0,0.474,1.156,1.533,2.568z"></path>
                    </svg>
                </span>
                <div class="from chat-bubble">
                    <div class="message">Hello</div>
                    <div class="time">
                        12:50pm</div>
                </div>
            </div>
            <div class="to-outer">
                <div class="to chat-bubble">
                    <div class="message">hi</div>
                    <div class="time">
                        12:50pm</div>
                </div>
                <span data-testid="tail-out" data-icon="tail-out" class="_1kh65">
                    <svg viewBox="0 0 8 13" height="13" width="8" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 8 13" xml:space="preserve">
                        <path opacity="0.13" d="M5.188,1H0v11.193l6.467-8.625 C7.526,2.156,6.958,1,5.188,1z"></path>
                        <path fill="currentColor" d="M5.188,0H0v11.193l6.467-8.625C7.526,1.156,6.958,0,5.188,0z"></path>
                    </svg>
                </span>
            </div>
        </div>

        <div class="input-div">
            <input type="text"/>
            <button>Send</button>
        </div>
    </div>


</div>

<script>// a -> B
        // conversations  --> participants -> [a,B] id - 123
        // |
        // timeline-comments    convId 123  from: a msg: hi
        //                                  from: B, msg: hello
        // B - 123, 126
        // B -> a -> 123</script>
