<div class="main">
    <p-toast></p-toast>
    <div class="row">
        <h1>Dashboard</h1>
        <ng-container *ngIf="!EventList">
            <p>Loading....</p>
        </ng-container>
        
        <div class="position-absolute" style="right:5%;color: #fff;">
        
        
            <label class="col-auto" for="filterid">Filter by Status :  </label>
            <select class="btn btn-outline-danger dropdown-toggle col-auto" [(ngModel)]="filter" id="filterid" (change)="onFilterChange($event)">
                <option value="all">All</option>
                <option value="upcoming">Upcoming</option>
                <option value="over">Over</option>
            </select>
        </div>
        <br>
    
        <div class="flex">
            <ng-container *ngFor="let event of EventList;let i=index">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{event.Event.eventName}}</mat-card-title>
                      <mat-card-subtitle style="color: white">{{event.Event.eventDescription}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>Event Date & Time : {{event.Event.eventDate.split('T')[0]}} & {{event.Event.eventTime}}</p>
                      <p>Given Participants : {{event.Event.totalParticipates}}</p>
                      <p>Location : {{event.Event.eventAddress}}</p>
                    </mat-card-content>
                        <mat-card-actions>
                                <button (click)="openDialog(i)"  class="subBtn">Info</button>
                              <button (click)="event.visibleService=true;showService(i,event)"  class="subBtn">Services</button>
                              <ng-container *ngIf="event.Event.isCompleted">
                                  <button (click)="showVendor(i)" class="subBtn">Rating</button>
                            </ng-container>
                        </mat-card-actions>
    
                        <div class="service">
                            <ng-container *ngIf="event.visibleService">
                                <app-selected-service [eventList]="event.SelectedList" (closed)="event.visibleService=false;onChildClosed()"></app-selected-service>
                            </ng-container>
                    
                        </div>
                </mat-card>
            </ng-container>
        </div>
    </div>
</div>



<p-dialog header="Rate Your Vendor" [(visible)]="ratingVisible" [draggable]="false" [resizable]="false" >
    <div>
        <ng-container *ngIf="selectedRatingList.length !== 0">
            <div class="card">

                    <div class="form-field">
                        <label>Event Name :</label>
                        <label>{{selectedRatingList.Event.eventName}}</label>
                    </div>
                    <div class="form-field">
                        <label>Held On :</label>
                        <label>{{selectedRatingList.Event.eventDate.split('T')[0]}} & {{selectedRatingList.Event.eventTime}}</label>
                    </div>
                    <div class="form-field">

                        <label>Service Name</label>
                        <div>

                            <select [(ngModel)]="selectedServiceIdx">
                                <ng-container *ngFor="let service of selectedRatingList.Services;let i=index">
                                    <ng-container *ngIf="service.ratingStatus === false">
                                        <option [value]="i">{{service.selectedService.selectServiceName}}</option>
                                    </ng-container>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <ng-container *ngIf="selectedServiceIdx !== '-1'">
                        <ng-container *ngIf="selectedRatingList.Services[selectedServiceIdx].vendorList.length > 0">

                            <div class="form-field">
    
                                <label>Vendor Name : </label>
                                <label>{{selectedRatingList.Services[selectedServiceIdx].vendorList[0].vendorName}}</label>
                            </div>
    
                            <div class="form-field">
    
                                <label>Accepted Price :</label>
                                <label>{{selectedRatingList.Services[selectedServiceIdx].bidList[0].bid}}</label>
                            </div>
                            <div class="form-field">
                                <label>Review</label>
                                <input type="text" minlength="15" [(ngModel)]="selectedRatingList.Services[selectedServiceIdx].userreview" required>
                            </div>
                            <mat-error *ngIf="isSubmitClicked && !selectedRatingList.Services[selectedServiceIdx].userreview" style="font-style: italic;">*Review is required</mat-error>
                            <div class="form-field">
                                <label>Rating</label>
                                <p-rating [(ngModel)]="selectedRatingList.Services[selectedServiceIdx].ratingvalue" [cancel]="false"></p-rating>
                            </div>                      
                            <mat-error *ngIf="isSubmitClicked && !selectedRatingList.Services[selectedServiceIdx].ratingvalue" style="font-style: italic;">*Rating is required and Must greater than Zero</mat-error>
                        </ng-container>

                        <ng-container *ngIf="selectedRatingList.Services[selectedServiceIdx].vendorList.length === 0">
                            <p>Sorry, No Vendor take place in the Auction</p>
                        </ng-container>

                    </ng-container>
                </div>
            <div class="flex">
                <button (click)="closeVendor()" class="btn">
                    Cancel
                </button>
                <button (click)="OnSubmitRating()" class="btn">
                    Submit
                </button>
            </div>
        </ng-container>
    </div>
</p-dialog>