.example-card {
    max-width: 400px;
  }

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.main {
    margin: 2rem 1rem 0rem 6rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    align-items: center;
    z-index: 10;
    
}

h1
{
    color: #fff;
}

.example-card
{
    color:whitesmoke;
    background-color: rgba(0, 0, 0, 0.50);
    border:2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 2rem;
}
.row
{
    padding: .5rem;
}

.subBtn
{
    color: white;
}
.subBtn:hover
{
    color: whitesmoke;
  transform: scale(0.98);   
  outline:2px solid rgba(255, 0, 0, 0.2);
  background-color: rgba(61, 59, 59, 0.5);
  border-radius: 5px;
}

.card > label 
{
    display: block;

}

.card
{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap : .5rem;
}

.form-field
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
    margin-top: 1rem;
    padding : .2rem;
    border-radius: 5px;
    border : 2px solid black;
}
.btn:hover
{
    background-color: gray;
    color: white;
}

.position-absolute
{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.position-absolute select
{
    margin-top: 0;
}