.info-dialog
{
   padding: 2rem;
}

h1
{
    margin-bottom: 2px;
}
.closeBtn
{
    padding: 5px;
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
    border:2px solid rgba(255, 0, 0, 0.2);
    border-radius: 5px;
}
