*{
    color : white;
}
.signupform{
    position: relative;
    border-radius: 20px;
    color: black;
    height: 91%;
    width: 35%;
    margin-left: 10%;
    margin-top: 0%;
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.signupform h1{
    text-align: center;
    padding: 6% 0 3% 0;
    font-size: 170%;
}
.signupcontents{
    padding: 2%;
    padding-left: 15%;
    position: relative;
    padding-bottom: 20px;
}
.signupcontents label{
    font-size: large;
    font-weight: bold;
    margin-bottom: 1%;
    font-size: 110%;
}
.signupcontents input{
    display: block;
    width: 85%;
    padding: 1.5%;
    border: 2px solid rgb(155, 148, 148);
    font-size: 95%;
    border-radius: 3px;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signupcontents i{
    position: absolute;
    top: 41.5px;
    left:80%;
    font-size: larger;
}
.signupcontents small{
    font-weight: 500;
    font-size: 97%;
    position: absolute;
}
.signupcontents button{
    width: 70%;
    display: block;
    margin-left: 7%;
    padding: 2%;
    color:white;
    border-radius: 5px;
    font-size: 100%;
    font-weight:bold;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: pointer;
}


.signupcontents #submit input:hover{
    letter-spacing: 3px;
}

.signupcontents .error small{
    color: red;
}
.error .signupcontents input{
    border: 3px solid red;
}
.error .bi-exclamation-circle-fill{
    color: red;
}

.loginWant{
    text-align: center;
}
.loginWant span{
    font-size: large;
    font-weight: bold;
}
.loginWant button{
    position: relative;
    /* left: 28%; */
    padding: 10px;
   
    color: white;
    border-radius: 5px;
    font-size: 100%;
    font-weight:bold;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: pointer;
}

.glassmorphism-card
{
    
    margin: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    height: 80vh;
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid var(--header-color);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--header-color);
    /* box-shadow: 8px 8px 9px -6px #444; */
    /* margin: 5rem; */
    align-items: center;
    z-index: 10;
}

.glassmorphism-card::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .glassmorphism-card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px transparent; 
    background:none;
    border-radius: 10px;
  }
   
  /* Handle */
  .glassmorphism-card::-webkit-scrollbar-thumb {
    background: #889; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .glassmorphism-card::-webkit-scrollbar-thumb:hover {
    background: #777; 
     
  }


/* .usertab
{
    margin-top: 2rem;
} */
#signup
{
    display: flex;
    justify-content: center;
    overflow: hidden;
    top: 0;
}

button {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--header-color);
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  
    margin-right: .3rem;
    margin-left: .3rem;
  
  }
  
  button:hover {
    color: whitesmoke;
    transform: scale(1.1);
    outline: 1px solid rgba(255, 0, 0, 0.2);
    background-color: rgba(61, 59, 59, 0.5);
    border-radius: 5px;
  }
