<div class="main">
    <div class="row">
        <h1>Dashboard</h1>
        <!-- <ng-container *ngIf="!EventList">
            <p>Loading....</p>
        </ng-container> -->
        
        <div class="position-absolute" style="right:5%;color: #fff;">
        
            <!-- <button class="btn btn-outline-danger" style="margin-right: 10px;" data-bs-toggle="modal" data-bs-target="#createModel">+ New Event</button> -->
        
            <label class="col-auto" for="filterid">Filter by Status :  </label>
            <select class="btn btn-outline-danger dropdown-toggle col-auto" [(ngModel)]="filter" id="filterid" (change)="onFilterChange($event)">
                <option value="User">User</option>
                <option value="Vendor">Vendor</option>
            </select>
        </div>
        <br>
    
        <div class="flex">

            <ng-container *ngIf="filter === 'User'">

                <table mat-table [dataSource]="ChoosenList"  class="mat-elevation-z8">              
                    <!-- Position Column -->
                    <ng-container matColumnDef="userId">
                      <th mat-header-cell *matHeaderCellDef> User ID</th>
                      <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                  
                    <!-- Phone Number Column -->
                    <ng-container matColumnDef="phoneNumber">
                      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </ng-container>

            <ng-container *ngIf="filter === 'Vendor'">
                <table mat-table [dataSource]="ChoosenList"  class="mat-elevation-z8">              
                    <!-- Position Column -->
                    <ng-container matColumnDef="vendorId">
                      <th mat-header-cell *matHeaderCellDef> Vendor ID</th>
                      <td mat-cell *matCellDef="let element"> {{element.vendorId}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.vendorName}} </td>
                    </ng-container>
                  
                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.vendorEmail}} </td>
                    </ng-container>
                  
                    <!-- Phone Number Column -->
                    <ng-container matColumnDef="phoneNumber">
                      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                      <td mat-cell *matCellDef="let element"> {{element.vendorPhoneNumber}} </td>
                    </ng-container>

                    <!-- Company Name Column -->
                    <ng-container matColumnDef="vendorCompanyName">
                      <th mat-header-cell *matHeaderCellDef> Company Name</th>
                      <td mat-cell *matCellDef="let element"> {{element.vendorCompanyName}} </td>
                    </ng-container>

                    <!-- GST Number Column -->
                    <ng-container matColumnDef="vendorGSTNumber">
                      <th mat-header-cell *matHeaderCellDef> GST Number </th>
                      <td mat-cell *matCellDef="let element"> {{element.vendorGSTNumber}} </td>
                    </ng-container>

                    <!-- Company location Column -->
                    <ng-container matColumnDef="vendorLocation">
                      <th mat-header-cell *matHeaderCellDef> Company </th>
                      <td mat-cell *matCellDef="let element"> {{element.vendorLocation}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsVendor"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsVendor;"></tr>
                  </table>

            </ng-container>

                            
        </div>
    </div>
</div>



