
<div class="header-own">

    <h2 style="color : wheat">
        Ticket Index
    </h2>
    <br />
    
    <a href="/Token/UserCreate"> 
        <button style="color:wheat" class="btn glow-button btn-primary">Raise a Ticket</button>
    </a>
    <a class="sidenav-nav-link" [routerLink]="['user/help']"
    routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}"  
>
    <fa-icon class="sidenav-link-icon" [icon]="['fas','home']"></fa-icon>
    <span class="sidenav-link-text" >Raise a Ticket</span>
</a>
    
    </div>
    <br>
    <br />
    
    <style>
        .gradient-custom {
    /*/* fallback for old browsers */
    /*background: #fccb90;*/
    
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1));*/
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1))*/
        background : transparent;
        border: 2px solid wheat;
        z-index : 100;
        position : relative;
        }
    
    .mask-custom {
            background: rgba(24, 24, 16, 0.3);
            border-radius: 2em;
            backdrop-filter: blur(15px);
            border: 2px solid rgba(255, 255, 255, 0.3);
            background-clip: padding-box;
            box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }
    
    .list-own
    {
        display : none;
    }
    .active
    {
        display : block;
    }
    
    body::after
    {
        top : 6%;
    }
    
    .header-own 
    {
        position : relative;
        z-index : 100;
    }
    
    </style>
    
    <section class="gradient-custom">
      <div class="container py-5">
    
        <div class="row">
    
          <div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0">
    
            <h5 class="font-weight-bold mb-3 text-center text-white">Tickets</h5>
    
            <div class="card mask-custom">
              <div class="card-body">
                <ul class="list-unstyled mb-0">
                    <ng-container *ngFor="let ticket of tickets">
                        <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                            <a href="#" class="d-flex justify-content-between link-light" onclick="toggleListItem('ticket-ticket.QueryId')">
                              <div class="d-flex flex-row">
                                <img src="https://img.freepik.com/free-icon/exclamation-mark-circle_318-9808.jpg?w=2000" alt="avatar"
                                  class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                <div class="pt-1">
                                  <p class="fs-3">{{ticket.QueryTitle}}</p>
                                </div>
                              </div>
                              <div class="pt-1">

                                <p class="small text-white mb-1">
                                    {{ timeRemaining(ticket.CreatedAt) }}
                                  </p>
                            </div>
                            </a>
                          </li>
                    </ng-container>
                </ul>
              </div>
            </div>  
	  <div class="col-md-6 col-lg-7 col-xl-7">

		<ul class="list-unstyled text-white">

            <ng-container *ngFor="let ticket of tickets">
                <div class="list-own" id="ticket-ticket.QueryId">
                    <li class="d-flex mb-4">
                        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553__340.png" alt="avatar"
                             class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                        <div class="card mask-custom">
                            <div class="card-header d-flex justify-content-between p-3"
                                 style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                <p class="fw-bold mb-0">{{ticket.UserId}}</p>
                                <p class="small text-white mb-0">
                                    {{ timeRemaining(ticket.CreatedAt) }}
                                  </p>
                                
                            </div>
                            <div class="card-body">
                                <div class="fw-bold pb-2" style="color: wheat">Title : {{ticket.QueryTitle}}</div>
                                <div class="mb-0">
                                    <div [innerHTML]="ticket.QueryDesciption"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                        <ng-container *ngIf="ticket.Status === 'Resolved'">
                            
                            <li class="d-flex justify-content-between mb-4 active">
                                <div class="card mask-custom w-100">
                                    <div class="card-header d-flex justify-content-between p-3"
                                         style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                        <p class="fw-bold mb-0">Admin</p>
                                        <p class="small text-white mb-0">
                                            {{ timeRemaining(ticket.ResponseAt) }}
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-0">
                                            <div [innerHTML]="ticket.Response"></div>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                                     class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                                </li>
    
                                <li class="mb-3 text-danger">Ticket is Closed</li>
                        </ng-container>

                        <ng-container *ngIf="ticket.Status !== 'Resolved'">

                            <li class="mb-3">
                                <form #userForm="ngForm">
                                    <div>
                                        <label for="name">Name</label>
                                        <input id="ticketId" 
                                           name="name"
                                           type="hidden"
                                           [value]="ticket.QueryId"
                                           [(ngModel)]="editTicket.ticketId" />
                                  </div>
                                
                                  <div>
                                    <editor
                                    [init]="{
                                      height: 500,
                                      menubar: false,
                                      plugins: [
                                        'advlist autolink lists link image charmap print preview anchor',
                                        'searchreplace visualblocks code fullscreen',
                                        'insertdatetime media table paste code help wordcount'
                                      ],
                                      toolbar:
                                        'undo redo | formatselect | bold italic backcolor | \
                                        alignleft aligncenter alignright alignjustify | \
                                        bullist numlist outdent indent | removeformat | help'
                                    }" [(ngModel)]="editTicket.ticketDescription"
                                  ></editor>
                                  </div>
                                
                                  <button type="button" (click)="OnChange()">Submit</button>
                                </form>
                                
                        </li>
                        </ng-container>
            </div>
            </ng-container>	
		</ul>
	  </div>
	</div>
        </div>
      </div>
      </section>

  
    <script>
        function toggleListItem(itemId) {
        var item = document.getElementById(itemId);
        RemoveActive("list-own");
    
        if (item.classList.contains('active')) {
          item.classList.remove('active');
        } else {
          item.classList.add('active');
        }
      }
    
      function RemoveActive(className)
      {
          var classList = document.getElementsByClassName(className);
          for(var c_item of classList)
          {
              if(c_item.classList.contains('active'))
              {
                  c_item.classList.remove('active');
              }
          }
      }
    
    </script>