<div class="main">

    <div class="outer main-content">
        <div class="left">
            <div class="header">
                <h1>Biddo</h1>
                <h3>Event Management with Reverse Auction</h3>
            </div>
            <div class="content">
                <p>Welcome to our Event Management with Reverse Auction platform! We are your go-to solution for managing your event needs and finding the best vendors at the best prices through our innovative reverse auction system.</p>
                <!-- <p>Whether you are planning a wedding, corporate event, or any other special occasion, we are here to make the process seamless and stress-free. Our platform allows you to post your event requirements, and vendors can then bid on your project, providing you with the most competitive pricing available.</p> -->
            <!-- <p>With our user-friendly platform, you can manage every aspect of your event from start to finish, from finding the right vendors to communicating with them and tracking your progress. And with our advanced analytics and reporting tools, you can stay on top of your budget and ensure that you are getting the best value for your money.</p> -->
                <!-- <p>So why wait? Sign up today and start planning your next event with us. We are confident that you will love our platform and the services we provide.</p> -->
            </div>
            <div class="center">
                <button (click)="OnClick()">Get Started</button>
            </div>
        </div>
        <div class="right">
            <img class="image" src="../../assets/EventMangamentPhoto.png" alt="Event Management with Reverse Auction">
        </div>
    </div>

    <div class="outer">
        <div class="left border">
            <h2>User</h2>
            <div>
                <p>
                    Event Management with Reverse Auction is a unique platform that provides users with a hassle-free way of organizing events as per their preferences. Users can easily create events and specify their requirements. Once the auction period begins, users will receive various anonymous bids from vendors, along with their rating. The user can then choose the bid which they find most suitable and comfortable. </p>
            </div>
        </div>
        <div class="right border">
            <h2>Vendor</h2>
            <p>
                As a vendor, the first step towards participating in an auction is to navigate to the auction section where the relevant auction can be found. Once there, vendors can place their bids for that particular auction and update their bid amount as many times as they want until the auction time ends. This provides a great opportunity for vendors to adjust their bids in response to changes in the auction landscape and stay competitive.
            </p></div>
    </div>
</div>


<div></div>

<div></div>