

.card
{
    margin: 2rem 1rem 0rem 6rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    align-items: center;
    z-index: 10;
}

.header {
    font-weight: 600;
    color: var(--header-color);
    text-align: center;
    margin: 0;
    padding: 0.5rem;
}

.outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    /* margin-top: 5rem; */
}

h2 {
    font-weight: 600;
    color: var(--header-color);
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--header-color);
    margin: 0;
    padding: 0;
}

.left {
    width: 48%;
}

.right {
    width: 48%;
}

.main {
    margin-left: 6rem;
    color: white;
}

button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background: var(--header-color);
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.image
{
    width: 100%;
    object-fit: cover;
}

.center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main {
    outline: 1px solid var(--header-color);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
}



.border {
    outline: 1px solid var(--header-color);
    border-radius: 1rem;
    padding: 1.5rem;
    
}

@media screen and (max-width:750px) {
    .border {
        width: 100%;
        padding: .5rem;
    }
    .main-content {
        flex-direction: column-reverse;
        padding: .2rem;
        
    }
    .main {
        padding: .3rem;    
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
}   



